docker_work/221229/data
docker_work/mysql/data
js_work/20230125/node_modules
js_work/20230126/node_modules
js_work/20230127/node_modules
js_work/20230130/node_modules
js_work/20230131/node_modules
js_work/20230201/node_modules
js_work/20230202/node_modules
js_work/20230203/node_modules
js_work/20230206/node_modules
js_work/20230207/node_modules
js_work/20230208/node_modules
js_work/myapp/node_modules
react_work/ex01/node_modules
react_work/ex02/node_modules
react_work/ex03/node_modules
react_work/ex04/node_modules
react_work/ex05/node_modules
react_work/ex05_1/node_modules
react_work/ex06/node_modules
react_work/ex06_1/node_modules
*/*/node_modules
react_work/test/node_modules
react_work/node_ex01/node_modules
react_work/mypro/back/node_modules
react_work/mypro/front/node_modules
주차별수업/
html_work/230120/node_modules
flask_work/20230110/static