docker_work/221229/data
docker_work/mysql/data
js_work/20230125/node_modules
js_work/20230126/node_modules
js_work/20230127/node_modules
js_work/20230130/node_modules
js_work/20230131/node_modules
주차별수업/
html_work/230120/node_modules
flask_work/20230110/static