{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>freeboard/select.html</h1>
            <h2>게시판목록</h2>
            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>작성일자</th>
                </tr>
                {% for row in res %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- 페이징 처리 시작-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {% if pageNum == 1 %}
                        <a class="page-link disabled" href="/freeboard/select?pageNum={{pageNum-1}}">Previous</a>
                        {% else %}
                        <a class="page-link" href="/freeboard/select?pageNum={{pageNum-1}}">Previous</a>
                        {% endif %}
                    </li>
                    {% for i in range(1,pageCnt+1) %}
                    {% if pageNum == i %}
                    <li class="page-item">
                        <a class="page-link active" href="/freeboard/select?pageNum={{i}}">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/freeboard/select?pageNum={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor%}
                    <li class="page-item"><a class="page-link" href="/freeboard/select?pageNum={{pageNum+1}}">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- 페이징 처리 끝-->
        </div>
    </div>
</div>


{% endblock%}