<html>

<head>
    <title>random normal - {{mean}}, {{var}} </title>
    <script>
        
        document.addEventListener("DOMContentLoaded",()=>{
            const $img = document.querySelector('img');
            const mygr = setInterval(()=>{
                const test = [parseInt(Math.random()*100),parseInt(Math.random()*100),parseInt(Math.random()*100),parseInt(Math.random()*100)]
                $img.src = `/figbar/${test}`;
            },1000)
        })
    </script>
</head>

<body>
    <h2>This is random normal image</h2>
    <h3>this is h3 </h3>
    <p>this is the paragraph</p>
    <img src="{{ url_for('figbar', var=var) }}" alt="Image Placeholder" width={{width}}, height={{height}}>
</body>

</html>